TEX TEST EMAIL

<!-- Order: #<%= @order.id %>

You ordered <%= @order.listings.count %> listings:

<% @order.listings.each do |listing| %>
  <%= listing.title %> - <%= number_to_currency listing.price %>
<% end %> -->
