<h1>Test Mail</h1>
<!--
<p>You ordered <%= @order.listings.count %> listings:</p> -->

<ul>
  watsup man
    <!-- <% @order.listings.each do |listing| %>
        <li><%= listing.title %> - <%= number_to_currency listing.price %></li>
    <% end %> -->
</ul>
